/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 juil. 2015, 15:31:08
    Author     : aburns
*/

/* Enlève les marges pour l'ensemble de la page' */
body { 
    margin : 0; 
    padding : 0; 
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-align: center;
}

/* Entête fixe */
header { 
    background : #eee; 
    border : 1px solid #666; 
    height : 100px; 
    left : 0; 
    position : fixed; 
    width : 100%; 
    top : 0; 
}

#logo{ 
    width : 100%;
    text-align : left; 
}

/* CSS pour le menu de navigation */
nav {
    position : fixed;
    width : 100%;
    top : 50px; 
}

nav ul {
    display: inline;
    margin: 0;
    list-style: none;
}

nav ul li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
}

nav ul li:hover {
    background: #555;
    color: #fff; 
}

nav li.ici {
    background: #555;
    color: #fff;     
}

nav a {
    text-decoration : none;
    padding: 15px 0px;
    color : inherit;
}

/* CSS pour la partie principale. Padding top et bottom padding à 80px 
   pour prévenir le débordement sur les sections header et footer. */

main { 
    clear : both;
    position : fixed;
    overflow: auto;
    top : 120px;
    left : 10%;
    bottom : 80px;
    margin : 0 auto; 
    width : 80%; 
    display : flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

article {
    text-align : center;
    margin : 10px;
    padding : 10px;
    width : 250px;
    height : 500px;
    vertical-align: top;
    border : solid 1px black;
}
article p {
    text-align : justify;
}

article a {
    display : block;
    margin : 10px 0px;
    padding : 10px 0px;
    text-align : right;
}

main p.normal {
    text-align : justify;
}

main p.normal::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}

main p.adresse {
    text-align : center;
}

table {
    margin : auto;
    caption-side: bottom;
}

th {
    margin : 10px;
    padding : 10px;
    width : 15%;
    background : #eee;
    box-shadow: 10px 10px 5px #888888;
}

#catalogue th {
    width : auto;
}

td {
    margin : 10px;
    padding : 10px;
    border : 1px solid #b6aeae;
    background : white;
    box-shadow: 10px 10px 5px #888888;
}

/* Pied de page fixe */
footer { 
    background : #eee; 
    border : 1px solid #666; 
    bottom : 0; 
    height : 60px; 
    left : 0; 
    position : fixed; 
    width : 100%; 
    text-align : center;
}

footer h1 {
    font-size: 12px;
}

footer p {
    font-size: 10px;
}