

/* Enlève les marges pour l'ensemble de la page' */
body { 
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-align: center;
}

/* menu de navigation */

.navbar-default {
    background-image: none;
    background-color: #eee;
    border: 1px solid #666;
    height: 120px;
}

.navbar-brand .large-logo {
    display: block;
}

.navbar-brand .small-logo {
    display: none;
}

p.user {
    display: block;
    position: fixed;
    right: 10px;
    top: 50px;
    color: #777;
}

@media screen and (min-width: 768px) and (max-width: 1000px){
    .navbar-brand .large-logo {
        display: none;
    }

    .navbar-brand .small-logo {
        display: block;
    }
}

@media screen and (max-width: 767px) {

    .navbar-collapse {
        background-color: #eee;
        max-height: 340px;
        width: 200px;
        padding-right: 0px;
        position: fixed;
        right: 10px;
    }

    p.user {
        right: 70px;
        top: 10px;
    }

}

@media screen and (min-width: 768px) {

    .navbar .navbar-collapse {
        text-align: center;
        padding-top: 68px;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar-right {
        display: block;
        position: fixed;
        right: 10px;
        top: 10px;
    }

}

/* CSS pour la partie principale. Padding top et bottom padding à 80px 
   pour prévenir le débordement sur les sections header et footer. */

main { 
    clear : both;
    position : fixed;
    overflow: auto;
    top : 120px;
    bottom : 80px;
    width: 100%;
}

#contenu-principale {
    margin: auto;
}

main p.normal {
    text-align : justify;
}

main p.normal::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}

main p.adresse {
    text-align : center;
}

main .col-vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.article-flex {
    display : flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

article {
    text-align : center;
    font-size: 12px;
    margin : 10px;
    padding : 10px;
    width : 250px;
    height : 500px;
    vertical-align: top;
    border : solid 1px black;
}

article.produits {
    text-align : center;
    font-size: 12px;
    margin : 10px;
    padding : 10px;
    width : 350px;
    height : 310px;
    vertical-align: top;
    border : solid 1px black;
}

article p {
    text-align : justify;
}

article a {
    display : block;
    margin : 10px 0px;
    padding : 10px 0px;
    text-align : right;
}

h2.ingredients {
    text-align: left;
}

ul.ingredients {
    text-align: left;
    list-style-type: square;
}

table {
    margin : auto;
    caption-side: bottom;
    border-spacing: 2px;
    border-collapse: unset;
}

th {
    margin : 10px;
    padding : 10px;
    width : 15%;
    background : #eee;
    box-shadow: 10px 10px 5px #888888;
}

#catalogue th {
    width : auto;
}

td {
    margin : 10px;
    padding : 10px;
    border : 1px solid #b6aeae;
    background : white;
    box-shadow: 10px 10px 5px #888888;
}

caption {
    text-align: center;
}

/* Pied de page fixe */
footer { 
    background : #eee; 
    border : 1px solid #666;  
    height : 60px; 
    width : 100%; 
    padding:0px;
    margin:0px;
    text-align : center;

    bottom : 0;
    left : 0; 
    position : fixed; 
}

footer h1 {
    font-size: 12px;
}

footer p {
    font-size: 10px;
}

/* fenêtres modales */
#modal-remember {
    text-align: left;
}

p.invalide {
    color: red;
    text-align: left;
}
